/*.App {
  text-align: center;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.one-note {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.note-preview {
  width: 35%;
  margin: 10px;

}

.note-preview :hover {
  background-color: #eeeeee;
  
}

.close-button {
  float: right;
}

.search {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.navmenu {
  background-color: aquamarine;
}

.view-note-btn {
  margin-bottom: 0;
}
